

<div id="login-form">
  <%= simple_form_for :session, url: login_path do |f| %>
      <h1 class="form-title">Log in</h1>
      <%= f.input :name %>
      <%= f.input :password %>
      <div class="submit-div">
        <%= f.button :submit,  "Login" , class: "btn" %>
      </div>
      <div class="submit-div">
        <%= link_to 'Home', root_path, method: "get", class: "btn"%>
      </div>
  <% end %>

</div>
