<div class="create">
  <div class="container">
    <%= form_for(@user) do |f| %>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_area :name %><br>
          <%= f.label :mail %><br>
          <%= f.text_area :mail %><br>
        </div>
        <div class="actions">
          <%= f.submit "Create" %>
        </div>
    <% end %>
  </div>
</div>