<%= form_for(rifa) do |f| %>
  <% if rifa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rifa.errors.count, "error") %> prohibited this rifa from being saved:</h2>

      <ul>
      <% rifa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_inicio %>
    <%= f.datetime_select :fecha_inicio %>
  </div>

  <div class="field">
    <%= f.label :fecha_termino %>
    <%= f.datetime_select :fecha_termino %>
  </div>
    <div class="field">
      <%= f.label :titulo %>
      <%= f.text_field :titulo %>
    </div>

    <%= f.fields_for :premios do |premio_form| %>
      <div class="field">

        <%= premio_form.label 'Premio 1'%>
        <%= premio_form.text_field :premio1 %>
      </div>

        <div class="field">

          <%= premio_form.label 'Premio 2'%>
          <%= premio_form.text_field :premio2 %>
        </div>
        <div class="field">

          <%= premio_form.label 'Premio 3'%>
          <%= premio_form.text_field :premio3 %>
        </div>
        <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
