
<div class="blanck">
</div>
<div class="form-content">
  <%= simple_form_for(@rifa) do |f| %>
      <h1 class="form-title">Formulario Rifa</h1>
      <%= f.input :title %>
      <%= f.input :price %>
      <%= f.input :numbers %>
      <%= f.input :end_date, :ampm => true, :minute_step => 15%>
      <div class="submit-div">
        <%= f.button :submit,  "Create" %>
      </div>

  <% end %>
</div>
