
<div class="content-user">
  <div class="raffle">
    <div class="raffle-title">
      <div class="raffle-title-h2">
        <h2> Rifa <%= @rifas.title %></h2>
      </div>
      <div class="raffle-button-div">
        <%= button_to @rifas.owner, user_path(@rifas.user_id), method: "get", class: "raffle-button"%>
      </div>
    </div>
    <div class="raffle-content">
      <div class="fechas-premios">
        <div class="premios">
          <ul>
            <li>Premios: </li>
          </ul>
        </div>
        <div class="premios-list">
          <ol>
            <% n_prizes = @rifas.prizes.count() %>
            <% count = 0 %>
            <% @rifas.prizes.each do |prize| %>
                <% count += 1 %>
                <% if count == n_prizes%>
                    <li><%= prize.name %></li>
                <% else %>
                    <li><%= prize.name %></li>
                <%end%>
            <%end%>
          </ol>
        </div>
        <div class="fechas">
          <ul>
            <li class="fechas">Numeros restantes: <%= @rifas.numbers%></li>
            <li class="fechas">Fecha de inicio: <%= @rifas.created_at.to_formatted_s(:long) %></li>
            <li class="fechas">Fecha de termino: <%= @rifas.end_date.to_formatted_s(:long) %></li>
          </ul>
        </div>
      </div>
      <div class="photos-premios">
      </div>
    </div>
    <div class="raffle-precios">
      <div class="raffle-precio">
        <h1><%= " $" + @rifas.price.to_s %></h1>
      </div>
      <%if current_user%>
          <div class="raffle-button-div">
            <%=button_to '$ Comprar', new_rifa_numero_path(@rifas), method: "get", class:"raffle-button precio-button"%>
          </div>
      <%end%>
    </div>
  </div>
</div>

<div class="comentarios-div">
  <h2 class="comentarios-title"> Comentarios:</h2>
    <div class="comment-form">
      <% if @comments.length == 0 %>
        <div class="comentario">
          <ul>
            <li> Sé el primero en comentar!</li>
          </ul>
        </div>
      <%else %>
        <div class="comentario">
          <%@comments.each do |comment|%>
            <ul>
              <li class="user">
                <%= link_to comment.user_name, user_path(comment.user_id)%>: "<%= comment.content%>"
              </li>
            <li class="fecha"><%= comment.created_at.strftime("at %I:%M%p on %d/%m/%Y") %></li>
            </ul>
          <%end%>
        </div>
      <%end%>
    <%if current_user%>
      <%= simple_form_for @comment, url:{ controller: :comments, action: :create }  do |f| %>
        <%= f.text_area :content%>
          <div class="submit-div">
            <%= f.button :submit, "Comment" , class: "btn" %>
          </div>
      <%end%>
    <%end%>
  </div>
</div>


