<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @rifa.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @rifa.fecha_termino %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @rifa.titulo %>
</p>

<p>
  <strong>R:</strong>
  <%= @rifa.r_id %>
</p>

<%= link_to 'Edit', edit_rifa_path(@rifa) %> |
<%= link_to 'Back', rifas_path %>
