<%= simple_form_for @user, :html=> { class: 'new_user_form', multipart: true } do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% unless current_user %>
      <h1 class="form-title">Register</h1>
    <% else %>
        <h1 class="form-title">Editar Perfil</h1>
    <%end %>

    <%= f.input :name, placeholder: 'Enter username', error: 'Username error' %>
    <%= f.input :mail, placeholder: 'user@domain.com' %>
    <%= f.input :mail_confirmation, placeholder: 'user@domain.com' %>
    <%= f.input :password, placeholder: '********'%>
    <%= f.input :password_confirmation, placeholder: '********'%>
    <%= f.input :avatar,  label: "Profile pic"%>
    <%= image_tag(@user.avatar.thumb.url) if @user.avatar? %>
    <%= f.hidden_field :avatar_cache %>

    <div class="submit-div">
      <% unless current_user %>
        <%= f.button :submit, "Register" , class: "btn"%>
      <% else %>
        <%= f.button :submit, "Edit", class: "btn" %>
      <%end %>
    </div>
    <div class="submit-div">
      <% unless current_user %>
          <%= link_to 'Home', root_path, method: "get", class: "btn"%>
      <% else %>
          <%= link_to 'Volver', user_path(@user), method: "get", class: "btn"%>
      <%end %>
    </div>
<% end %>