<%= simple_form_for @user, :html=> { class: 'new_user_form', multipart: true } do |f| %>

    <% unless current_user %>
      <h1 class="form-title">Register</h1>
    <% else %>
        <h1 class="form-title">Editar Perfil</h1>
    <%end %>

    <%= f.input :name, placeholder: 'Enter username', error: 'Debe tener al menos 4 caracteres' %>
    <%= f.input :mail, placeholder: 'user@domain.com' %>
    <%= f.input :mail_confirmation, placeholder: 'user@domain.com', required: true %>
    <%= f.input :password, placeholder: '********'%>
    <%= f.input :password_confirmation, placeholder: '********',  required: true%>
    <%= f.input :avatar,  label: "Profile pic"%>
    <%= image_tag(@user.avatar.thumb.url) if @user.avatar? %>
    <%= f.hidden_field :avatar_cache %>

    <div class="submit-div">
      <% unless current_user %>
        <%= f.button :submit, "Register" , class: "btn"%>
      <% else %>
        <%= f.button :submit, "Edit", class: "btn" %>
      <%end %>
    </div>
    <div class="submit-div">
      <% unless current_user %>
          <%= link_to 'Home', root_path, method: "get", class: "btn"%>
      <% else %>
          <%= link_to 'Volver', user_path(@user), method: "get", class: "btn"%>
      <%end %>
    </div>
<% end %>