<div class="create">
  <div class="container">
    <%= form_for(@user) do |f| %>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %><br>
          <%= f.label :mail %><br>
          <%= f.text_field :mail %><br>
          <%= f.label :password %><br>
          <%= f.text_field :password%><br>
          <%= f.label :password_confirmation %><br>
          <%= f.text_field :password_confirmation%><br>
        </div>
        <div class="actions">
          <%= f.submit "Create" %>
        </div>
    <% end %>
  </div>
</div>