<%if current_user == @user%>
  <h2>Tus Rifas Compradas</h2>
  <% @user.numeros.each do |d| %>
    <%if d.aproved%>
      <%rifa = Rifa.find(d.rifa_id)%>
        <div class="raffle">
          <div class="raffle-title">
            <div class="raffle-title-h2">
              <h2> Rifa <%= rifa.title %></h2>
            </div>
            <div class="raffle-button-div">
            <h2 class="number">Tu numero: <%= d.number%></h2>
            </div>
          </div>
          <div class="raffle-content">
            <div class="fechas-premios">
              <div class="premios">
                <ul>
                  <li>Premios: </li>
                </ul>
              </div>
              <div class="premios-list">
                <ol>
                  <% n_prizes = rifa.prizes.count() %>
                  <% count = 0 %>
                  <% rifa.prizes.each do |prize| %>
                      <% count += 1 %>
                      <% if count == n_prizes%>
                          <li><%= prize.name %></li>
                      <% else %>
                          <li><%= prize.name %></li>
                      <%end%>
                  <%end%>
                </ol>
              </div>
              <div class="fechas">
                <ul>
                  <li class="fechas">Numeros restantes: <%= rifa.numbers%></li>
                  <li class="fechas"><b>Fecha de inicio: </b><%= rifa.created_at.to_formatted_s(:long) %></li>
                  <li class="fechas"><b>Fecha de termino: </b><%= rifa.end_date.to_formatted_s(:long) %></li>
                </ul>
              </div>
            </div>
            <div class="photos-premios">
            </div>
          </div>
          <div class="raffle-precios">
            <div class="raffle-precio">
              <h1><%= " $" + rifa.price.to_s %></h1>
            </div>
            <div class="raffle-button-div">
              <%=button_to 'Ver srifa', rifa_path(rifa), method: "get", class: "raffle-button precio-button"%>
            </div>
          </div>
        </div>
    <% end %>
  <%end%>
<%end%>
