<div class="main">
  <div class="container">
    <%@users.each do |u|%>
      <h2>Nombre de usuario: <%=u.name%></h2>
      <p>Correo: <%=u.mail%></p>

        <p>
          <strong>Image:</strong>
          <% if u.avatar.present?%>
              <%= image_tag(u.avatar.thumb.url)%>
          <%end%>
        </p>

      <%=link_to 'Visitar Perfil', user_path(u)%>
      <%if current_user%>
      <%if Follow.where("follower_id  = ? AND following_id = ?", current_user.id,  u.id).blank?%>
        <%unless current_user == u%>
            <p><%=link_to 'Seguir a este usuario', user_followers_path(u)%></p>
        <%end%>
      <%end%>
      <%unless Follow.where("follower_id  = ? AND following_id = ?", current_user.id,  u.id).blank?%>
      <p>Ya sigues a este usuario</p>
      <%end%>
      <%end%>
    <%end%>
  </div>
</div>
