<div class="main">
  <div class="container">
    <%@users.each do |u|%>
      <h2>Nombre de usuario: <%=u.name%></h2>
      <p>Correo: <%=u.mail%></p>

        <p>
          <strong>Image:</strong>
          <% if u.avatar.present?%>
              <%= image_tag(u.avatar.thumb.url)%>
          <%end%>
        </p>

      <%=link_to 'Más informacion', user_path(u)%>
    <%end%>

    <p><%= link_to 'Crear nuevo usuario', new_user_path %></p>
  </div>
</div>
