<div class="content-user">
  <div class="user-view">
    <%if current_user == @user%>
      <div class="tab">
        <button class="see-info defaultOpen">Informacion personal</button>
        <%if current_user.admin == false%>
        <button class="see-following">Siguiendo</button>
        <button class="see-followers">Te Siguen</button>
        <%end%>
      </div>

      <div class="profile">
        <div class="profile-user">
          <div class="profile-img">
            <%if @user.avatar.thumb.url.nil? %>
              <% image_tag(asset_path('perfilnotfound.jpg'), size: '400x140') %>
            <% else %>
              <%= image_tag(@user.avatar.thumb.url, size: '400x140') %>
            <%end%>
          </div>
          <h2><%= @user.name %></h2>
        </div>

        <div class="profile-info">
          <p> Email: <%= @user.mail %></p>
        </div>

      <%unless @user.admin%>
        <div class="following">
          <p>Siguiendo:
            <% @user.following.each do |f| %>
              <p class="showing"><%=f.name%></p>
            <%end%>
          </p>
        </div>
        <div class="followers">
         <p>Seguidores:
          <% n_followers = @user.followers.count() %>
          <% count = 0 %>
          <% @user.followers.each do |f| %>
            <% count += 1 %>
            <% if count == n_followers%>
                <%= f.name + '.' %>
            <% else %>
                <%= f.name + ', ' %>
            <%end%>
          <%end%>
        </p>
        </div>
      <%end%>
    <%end%>
    <%if current_user == @user%>
      <div class="profile-buttons">
        <div class="raffle-button-div">
          <%= button_to 'Editar Perfil', edit_user_path(@user), method: "get", class: "buttonTo"%>
          <%if current_user.admin == false%>
          <%= button_to 'Crear Rifa', new_user_rifa_path(current_user.id), method: "get", class: "buttonTo"%>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>

  <%if current_user == @user%>
    <div class="tab">
      <%if current_user.admin == false%>
      <button class="see-own defaultOpen">Rifas Creadas</button>
      <button class="see-bought">Rifas Compradas</button>
      <button class="see-processing">Rifas siendo procesadas</button>
      <%end%>
      <%if current_user.admin == true%>
      <button class="see-own defaultOpen">Rifas Esperando Aprobacion</button>
      <%end%>
    </div>
  <%end%>
    <!--RIFAS COMPRADAS-->
  <%unless @user.admin%>
    <tf><%=@user.id%></tf>
    <div class="own-raffles"></div>
    <div class="bought-raffles">
      <%if current_user == @user%>
        <h2>Tus Rifas Compradas</h2>
        <% @user.numeros.each do |d| %>
          <%if d.aproved%>
            <%rifa = Rifa.find(d.rifa_id)%>
              <div class="raffle">
                <div class="raffle-title">
                  <div class="raffle-title-h2">
                    <h2> Rifa <%= rifa.title %></h2>
                  </div>
                  <div class="raffle-button-div">
                  <h2 class="number">Tu numero: <%= d.number%></h2>
                  </div>
                </div>
                <div class="raffle-content">
                  <div class="fechas-premios">
                    <div class="premios">
                      <ul>
                        <li>Premios: </li>
                      </ul>
                    </div>
                    <div class="premios-list">
                      <ol>
                        <% n_prizes = rifa.prizes.count() %>
                        <% count = 0 %>
                        <% rifa.prizes.each do |prize| %>
                            <% count += 1 %>
                            <% if count == n_prizes%>
                                <li><%= prize.name %></li>
                            <% else %>
                                <li><%= prize.name %></li>
                            <%end%>
                        <%end%>
                      </ol>
                    </div>
                    <div class="fechas">
                      <ul>
                        <li class="fechas">Numeros restantes: <%= rifa.numbers%></li>
                        <li class="fechas"><b>Fecha de inicio: </b><%= rifa.created_at.to_formatted_s(:long) %></li>
                        <li class="fechas"><b>Fecha de termino: </b><%= rifa.end_date.to_formatted_s(:long) %></li>
                      </ul>
                    </div>
                  </div>
                  <div class="photos-premios">
                  </div>
                </div>
                <div class="raffle-precios">
                  <div class="raffle-precio">
                    <h1><%= " $" + rifa.price.to_s %></h1>
                  </div>
                  <div class="raffle-button-div">
                    <%=button_to 'Ver rifa', rifa_path(rifa), method: "get", class: "raffle-button precio-button"%>
                  </div>
                </div>
              </div>
          <% end %>
        <%end%>
      <%end%>
    </div>
    <div class="processing-raffles">
    </div>
  <%end%>

  <%if @user.admin%>
  <div class="own-raffles">
        <h2>Compras pendientes por aprobación</h2>
        <% @numeros.each do |num| %>
        <%unless num.aproved%>
        <div class="raffle" id="own">
          <%@d = Rifa.find(num.rifa_id)%>
          <h3> Rifa <%= @d.title %><br></h3>
          <ul>
            <li>Premios:
            <% n_prizes = @d.prizes.count() %>
            <% count = 0 %>
            <% @d.prizes.each do |prize| %>
              <% count += 1 %>
              <% if count == n_prizes%>
                  <%= prize.name + '.' %>
              <% else %>
                  <%= prize.name + ', ' %>
              <%end%>
            <%end%>
          </li>
            <li>Fecha de inicio: <%= @d.created_at %></li>
            <li>Fecha de de termino: <%= @d.end_date %></li>
            <li>Precio: <%= @d.price %></li>
            <li>Numeros restantes: <%= @d.numbers%></li>
            <li>Dueño de la rifa: <b><%= User.find(@d.user_id).name%></b></li>
            <li>Comprador del numero: <b><%= User.find(num.user_id).name%></b></li>
            <li>Numero comprado: <%= num.number%></li>
            <li class="button"><%= button_to 'Aprobar compra', aprove_compra_path(num.id)%></li>
          </ul>
        </div>
        <%end%>
        <%end%>
  <%end%>
  </div>
  </div>
</div>
