<div class="user-view">
<%if current_user == @user%>
<div class="profile">
  <h2>Bienvenido <%= @user.name %></h2>
  <%= image_tag(@user.avatar.thumb.url) %>
  <ul>
    <li> email: <%= @user.mail %></li>
    <div class="following">
      <li>Siguiendo:
        <% n_follows = @user.following.count() %>
        <% count = 0 %>
        <% @user.following.each do |f| %>
          <% count += 1 %>
          <% if count == n_follows%>
              <%= f.name + '.' %>
          <% else %>
              <%= f.name + ', ' %>
          <%end%>
        <%end%>
      </li>
      <li>Seguidores:
        <% n_followers = @user.followers.count() %>
        <% count = 0 %>
        <% @user.followers.each do |f| %>
          <% count += 1 %>
          <% if count == n_followers%>
              <%= f.name + '.' %>
          <% else %>
              <%= f.name + ', ' %>
          <%end%>
        <%end%>
      </li>
    </div>

  </ul>
  <ul class="button">
  <%= button_to 'Editar Perfil', edit_user_path(@user), method: "get"%>
  </ul>

</div>
<%end%>

<div class="own-raffles">
      <%if current_user == @user%>
        <h2>Tus rifas creadas</h2>
      <%end%>
      <%unless current_user == @user%>
        <h2>Rifas creadas por <%=@user.name%>
          <%if current_user%>
          <%if Follow.where("follower_id  = ? AND following_id = ?", current_user.id,  @user.id).blank?%>
            <%unless current_user == @user%>
                <p class="Button"><%=button_to 'Seguir', user_followers_path(@user)%></p>
            <%end%>
          <%end%>
          <%unless Follow.where("follower_id  = ? AND following_id = ?", current_user.id,  @user.id).blank?%>
          <h3>Ya sigues a <%=@user.name%>!</h3>
          <%end%>
          <%end%>
        </h2>
      <%end%>
      <% @user.rifas.each do |d| %>
      <div class="raffle" id="own">
        <h3> Rifa <%= d.title %><br></h3>
        <ul>
          <li>Premios:
          <% n_prizes = d.prizes.count() %>
          <% count = 0 %>
          <% d.prizes.each do |prize| %>
            <% count += 1 %>
            <% if count == n_prizes%>
                <%= prize.name + '.' %>
            <% else %>
                <%= prize.name + ', ' %>
            <%end%>
          <%end%>
        </li>
          <li>Fecha de inicio: <%= d.created_at %></li>
          <li>Fecha de de termino: <%= d.end_date %></li>
          <li>Precio: <%= d.price %></li>
          <li>Numeros restantes: <%= d.numbers%></li>
          <%if current_user%>
          <%if @user == current_user%>
          <li class="button"><%= button_to 'Editar Rifa', edit_user_rifa_path(@user.id), method: "get"%></li>
          <%end%>
          <%unless @user == current_user%>
          <li class="button"><%= button_to 'Comprar Rifa', new_rifa_numero_path(d.id), method: "get"%></li>
          <%end%>
          <%end%>
        </ul>
      </div>
      <% end %>
  <% if current_user == @user%>
      <ul class="button"><%= button_to 'Crear Rifa', new_user_rifa_path(current_user.id), method: "get"%></ul>
  <% end%>
</div>
<div class="own-raffles">
      <%if current_user == @user%>
        <h2>Tus rifa compradas</h2>
      <% @user.numeros.each do |d| %>
      <div class="raffle" id="own">
        <%@rifa = Rifa.find(d.rifa_id)%>
        <h3> Rifa <%= @rifa.title %><br></h3>
        <ul>
          <li>Premios:
          <% n_prizes = @rifa.prizes.count() %>
          <% count = 0 %>
          <% @rifa.prizes.each do |prize| %>
            <% count += 1 %>
            <% if count == n_prizes%>
                <%= prize.name + '.' %>
            <% else %>
                <%= prize.name + ', ' %>
            <%end%>
          <%end%>
        </li>
          <li>Dueño: <%=@rifa.owner%></li>
          <li>Fecha de inicio: <%= @rifa.created_at %></li>
          <li>Fecha de de termino: <%= @rifa.end_date %></li>
          <li>Precio: <%= @rifa.price %></li>
          <li>Numeros restantes: <%= @rifa.numbers%></li>
          <li>Tu numero: <%= d.number%></li>
        </ul>
      </div>
      <% end %>
      <%end%>
</div>


</div>
