<div class="content-user">
  <div class="raffle">
    <div class="raffle-title">
      <div class="raffle-title-h2">
        <h2> Rifa <%= @rifas.title %></h2>
      </div>
      <div class="raffle-button-div">
        <%= button_to @rifas.owner, user_path(@rifas.user_id), method: "get", class: "raffle-button"%>
      </div>
    </div>
    <div class="raffle-content">
      <div class="fechas-premios">
        <div class="premios">
          <ul>
            <li>Premios: </li>
          </ul>
        </div>
        <div class="premios-list">
          <ol>
            <% n_prizes = @rifas.prizes.count() %>
            <% count = 0 %>
            <% @rifas.prizes.each do |prize| %>
                <% count += 1 %>
                <% if count == n_prizes%>
                    <li><%= prize.name %></li>
                <% else %>
                    <li><%= prize.name %></li>
                <%end%>
            <%end%>
          </ol>
        </div>
        <div class="fechas">
          <ul>
            <li class="fechas">Numeros restantes: <%= @rifas.numbers%></li>
            <li class="fechas">Fecha de inicio: <%= @rifas.created_at.to_formatted_s(:long) %></li>
            <li class="fechas">Fecha de termino: <%= @rifas.end_date.to_formatted_s(:long) %></li>
          </ul>
        </div>
      </div>
      <div class="photos-premios">
      </div>
    </div>
    <div class="raffle-precios">
      <div class="raffle-precio">
        <h1><%= " $" + @rifas.price.to_s %></h1>
      </div>
        <div class="raffle-button-div">
          <%=button_to 'Ver rifa', rifa_path(@rifas), method: "get", class: "raffle-button precio-button"%>
        </div>
    </div>
  </div>
</div>


<div class="comentarios-div">
  <h2 class="comentarios-title"> Elige tu(s) número(s):</h2>
  <div class="numbers">
  <%row_length = 15
    total_numbers = @rifas.numbers
    comprados = @rifas.numeros
    numeros = []
    comprados.each do |c|
      numeros << c.number
    end
    k=0
    for i in 0..((total_numbers/row_length).to_i)%>
      <div class="number-row">
       <%for j in 1..row_length %>
            <% if numeros.include? (i*row_length + j) %>
              <%= button_tag i*row_length + j, class:"div number-col", disabled: true, data: {number: i*row_length + j, price: @rifas.price}%>
            <% else %>
              <%= button_tag i*row_length + j, class:"number-col", data: {number: i*row_length + j, price: @rifas.price}%>
            <% end%>
          <%k +=1
            if k == total_numbers
              break
            end
          end%>
      </div>
    <% if k == total_numbers
        break
        end
       end%>
  </div>
  <div>
    <p class="numero-p">Numeros seleccionados: <span class="numbers-selected"></span></p>
    <p class="numero-p">Valor Total: $<span class="total-value"></span></p>
    <%= form_for @numero, url: '/rifas/1/numeros/1' do |f|%>
          <% f.hidden_field :numbers,  %>
          <%= f.submit "Comprar", class: "raffle-button"%>
    <%end%>
  </div>
</div>
