<div class="main">
  <div class="finder">
    <ul>
      <h2>Busca Rifas </h2>
      <div class="search-notice"></div>
      <%= form_tag  root_path, :method => 'get' do%>

          <% if flash[:notice] %>
              <div class="notice"><%= flash[:notice] %></div>
          <% end %>

          <li class="field">
            <%= label_tag 'Rifa:' %>
            <%= text_field_tag :name_search, params[:name_search] %>
          </li>

          <li class="field">
            <%= label_tag 'Premios:' %>
            <%= text_field_tag :premio_search, params[:premio_search] %>
          </li>

          <li class="field" >
            <%= label_tag 'Precio:' %>
          <div class="field-line">
            <%= label_tag 'Min:' %>
            <%= number_field_tag :min_price_search, params[:min_price_search], min: 0 %>
            <%= label_tag 'Max:' %>
            <%= number_field_tag :max_price_search, params[:max_price_search], min: 100 %>
          </div>
          </li>

          <li class="field">
            <%= label_tag 'Termina en menos de:' %>
          <div class="field-line" id="date">
            <%= number_field_tag :date_search, params[:date_search] %> semanas
          </div>
          </li>

          <li class="submit-search"><%= submit_tag "Search" %></li>
      <% end %>
    </ul>
      </div>

  <div class="content-section">
    <h2>Explora Rifas </h2>
    <div class="sort">
      <ul>
        <li>Ordernar por:</li>
        <li><%=button_to 'Precio min', root_path, method: 'get', params: {order: 'p_min'}, class: "sort-button"%></li>
        <li><%=button_to 'Precio max', root_path, method: 'get', params: {order: 'p_max'}, class: "sort-button"%></li>
        <li><%=button_to 'A-Z', root_path, method: 'get', params: {order: 'a_z'}, class: "sort-button"%></li>
        <li><%=button_to 'Z-A', root_path, method: 'get', params: {order: 'z_a'}, class: "sort-button"%></li>
        <li><%=button_to 'Fecha inicio', root_path, method: 'get', params: {order: 'init_date'}, class: "sort-button"%></li>
        <li><%=button_to 'Fecha termino', root_path, method: 'get', params: {order: 'end_date'}, class: "sort-button"%></li>
      </ul>
    </div>
    <% @search.each do |rifa| %>
        <div class="raffle">
          <div class="title-owner">
            <div class="title">
              <h3> Rifa <%= rifa.title %></h3>
            </div>
            <div class="owner">
              <%= link_to(user_path(rifa.user_id), method: 'get', class:"link-user") do %>
                <h3> <%= rifa.owner %></h3>
              <%end%>
            </div>
          </div>
          <div class="datos">
            <ul class="fechas-premios">
              <li><b>Premios: </b>
              <% n_prizes = rifa.prizes.count() %>
              <% count = 0 %>
              <% rifa.prizes.each do |prize| %>
                <% count += 1 %>
                <% if count == n_prizes%>
                    <%= prize.name + '.' %>
                <% else %>
                    <%= prize.name + ', ' %>
                <%end%>
              <%end%>
              </li>
              <li><b>Fecha de inicio: </b><%= rifa.created_at.to_formatted_s(:long) %></li>
              <li><b>Fecha de termino: </b><%= rifa.end_date.to_formatted_s(:long) %></li>
            </ul>
          </div>
          <div class="precio">
            <ul>
              <li><div class="precio"><b>Precio: </b><%= " $" + rifa.price.to_s %></div></li>
              <li><%=button_to 'Comprar $$$', new_rifa_numero_path(rifa), method: "get",  class: "raffle-button"%></li>
              <li><%=button_to 'Ver rifa', rifa_path(rifa), method: "get", class: "raffle-button"%></li>
          </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
