<div class="main">
  <div class="header">
    <h1>Rifas Maister</h1>
    <% if current_user%>
    <p><%=current_user.name%></p>
    <% end %>
    <ul>
      <li><%= link_to 'Log in', '#' %></li>
      <li><%= link_to 'Sign up', '#' %></li>
    </ul>
  </div>
  <div class="content-section">
    <h2>Explora Y Busca Rifas </h2>
    <% @rifas.each do |rifa| %>
        <div class="raffle">
          <h3> Rifa <%= rifa.title %>:<br></h3>
          <ul>
            <li>Premios:
            <% n_prizes = rifa.prizes.count() %>
            <% count = 0 %>
            <% rifa.prizes.each do |prize| %>
              <% count += 1 %>
              <% if count == n_prizes%>
                  <%= prize.name + '.' %>
              <% else %>
                  <%= prize.name + ', ' %>
              <%end%>
            <%end%>
            </li>
            <li>Dueño: <%= rifa.owner %></li>
            <li>Fecha de inicio: <%= rifa.created_at %></li>
            <li>Fecha de de termino: <%= rifa.end_date %></li>
            <li>Precio: <%= rifa.price %></li>
          </ul>
        </div>
    <% end %>
  </div>
</div>
