<div class="main">
  <div class="finder">
    <ul>
      <h1>Busca Rifas </h1>
      <div class="search-notice">
      <%= form_tag  root_path, :method => 'get' do%>

          <% if flash[:notice] %>
              <div class="notice"><%= flash[:notice] %></div>
          <% end %>

          <li class="field">
            <%= label_tag 'Rifa:' %>
            <%= text_field_tag :name_search, params[:name_search] %>
          </li>

          <li class="field">
            <%= label_tag 'Premios:' %>
            <%= text_field_tag :premio_search, params[:premio_search] %>
          </li>

          <li class="field" >
            <%= label_tag 'Precio:' %>
          <div class="field-line">
            <%= label_tag 'Min:' %>
            <%= number_field_tag :min_price_search, params[:min_price_search], min: 0 %>
            <%= label_tag 'Max:' %>
            <%= number_field_tag :max_price_search, params[:max_price_search], min: 100 %>
          </div>
          </li>

          <li class="field">
            <%= label_tag 'Termina en menos de:' %>
          <div class="field-line" id="date">
            <%= number_field_tag :date_search, params[:date_search] %> (semanas)
          </div>
          </li>
          <li><%= submit_tag "Search", class: "submit-button"%></li>
      <% end %>
    </div>
    </ul>
      </div>

  <div class="content-section">
    <h1>Explora Rifas </h1>
    <div class="sort">
      <ul>
        <li><h4>Ordernar por:</h4></li>
        <li><%=button_to 'Precio min', root_path, method: 'get', params: {order: 'p_min'}, class: "sort-button"%></li>
        <li><%=button_to 'Precio max', root_path, method: 'get', params: {order: 'p_max'}, class: "sort-button"%></li>
        <li><%=button_to 'A-Z', root_path, method: 'get', params: {order: 'a_z'}, class: "sort-button"%></li>
        <li><%=button_to 'Z-A', root_path, method: 'get', params: {order: 'z_a'}, class: "sort-button"%></li>
        <li><%=button_to 'Inicio', root_path, method: 'get', params: {order: 'init_date'}, class: "sort-button"%></li>
        <li><%=button_to 'Termino', root_path, method: 'get', params: {order: 'end_date'}, class: "sort-button"%></li>
      </ul>
    </div>
    <% @search.each do |rifa| %>
        <div class="raffle">
          <div class="raffle-title">
            <div class="raffle-title-h2">
              <h2> Rifa <%= rifa.title %></h2>
            </div>
            <div class="raffle-button-div">
              <%= button_to rifa.owner, user_path(rifa.user_id), method: "get", class: "raffle-button"%>
            </div>
          </div>
          <div class="raffle-content">
            <div class="fechas-premios">
                <div class="premios">
                  <ul>
                    <li>Premios: </li>
                  </ul>
                </div>
                <div class="premios-list">
                  <ol>
                    <% n_prizes = rifa.prizes.count() %>
                    <% count = 0 %>
                    <% rifa.prizes.each do |prize| %>
                        <% count += 1 %>
                        <% if count == n_prizes%>
                            <li><%= prize.name %></li>
                        <% else %>
                            <li><%= prize.name %></li>
                        <%end%>
                    <%end%>
                  </ol>
                </div>
              <div class="fechas">
                <ul>
                  <li class="fechas">Numeros restantes: <%= rifa.numbers%></li>
                  <li class="fechas"><b>Fecha de inicio: </b><%= rifa.created_at.to_formatted_s(:long) %></li>
                  <li class="fechas"><b>Fecha de termino: </b><%= rifa.end_date.to_formatted_s(:long) %></li>
                </ul>
              </div>
            </div>
            <div class="photos-premios">
            </div>
          </div>
          <div class="raffle-precios">
            <div class="raffle-precio">
              <h1><%= " $" + rifa.price.to_s %></h1>
            </div>
              <%if current_user %>
                <%if current_user.id != rifa.user_id %>
                  <div class="raffle-button-div">
                    <%=button_to '$ Comprar', new_rifa_numero_path(rifa), method: "get", class:"raffle-button precio-button"%>
                  </div>
                <%end%>
                <div class="raffle-button-div">
                  <%=button_to 'Ver rifa', rifa_path(rifa), method: "get", class: "raffle-button precio-button"%>
                </div>
              <%end%>
              <%unless current_user%>
                <div class="raffle-button-div">
                  <%=button_to 'Ver rifa', rifa_path(rifa), method: "get", class: "raffle-button precio-button"%>
                </div>
              <%end%>
          </div>
        </div>
    <% end %>
</div>
</div>
