<div class="main">

  <div class="content-section">
    <h2>Explora y Busca Rifas </h2>
    <% @rifas.each do |rifa| %>
        <div class="raffle">
          <h3> Rifa <%= rifa.title %><br></h3>
          <ul>
            <li><b>Premios: </b>
            <% n_prizes = rifa.prizes.count() %>
            <% count = 0 %>
            <% rifa.prizes.each do |prize| %>
              <% count += 1 %>
              <% if count == n_prizes%>
                  <%= prize.name + '.' %>
              <% else %>
                  <%= prize.name + ', ' %>
              <%end%>
            <%end%>
            </li>
            <li><b>Dueño: </b><%= rifa.owner %></li>
            <li><b>Fecha de inicio: </b><%= rifa.created_at %></li>
            <li><b>Fecha de termino: </b><%= rifa.end_date %></li>
            <li><b>Precio: </b><%= rifa.price %></li>
            <li class="button"><%=button_to 'Ver rifa', rifa_path(rifa), method: "get"%></li>
          </ul>
        </div>
    <% end %>
  </div>
</div>
