<!DOCTYPE html>
<html>
  <head>
    <title>Rifas Maister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <% unless current_user%>
        <ul class="nav">
          <li class="home-button"><%= link_to 'Home', root_path %></li>
          <div class="session-button">
            <li><%= link_to 'Log in', login_path %></li>
            <li><%= link_to 'Sign up', new_user_path %></li>
          </div>
        </ul>
    <% else %>
        <ul class="nav">
          <li class="home-button"><%= link_to 'Home', root_path %></li>
          <div class="session-button">
            <li><%= link_to 'log out', logout_path %></li>
            <li><%= link_to "#{current_user.name}", user_path(current_user)%> <%=image_tag(current_user.avatar.nav_bar.url)%></li>
          </div>
        </ul>
    <% end %>
    <h1>Rifas Maister</h1>
  </div>
    <%= yield %>
  </body>
  <footer>
    <div class="footer">
      <ul>
        <li>&copy; Carlos Álvarez - Matías Eynaudi</li>
      </ul>
    </div>
  </footer>
</html>
