<!DOCTYPE html>
<html>
  <head>
    <title>Rifas Maister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <% unless current_user%>
          <go class="button"><%= button_to 'Home', root_path, method: "get", class: "home-button" %></go>
          <go class="button"><%= button_to 'Log in', login_path, method: "get", class: "login-button" %></go>
          <go class="button"><%= button_to 'Sign up', new_user_path, method: "get", class: "signup-button" %></go>
    <% else %>
          <go class="button"><%= button_to 'Home', root_path, method: "get", class: "home-button"%></go>
          <go class="button"><%= button_to 'log out', logout_path, method: "get", class: "login-button" %></go>
          <go class="button"><%= button_to "Perfil", user_path(current_user), method: "get", class: "signup-button"%></go>
    <%end%>
    <h1>Rifas Maister</h1>
  </div>
    <%= yield %>
  <footer>
      <ul>
        <li>&copy; Carlos Álvarez - Matías Eynaudi</li>
      </ul>
  </footer>
  </body>

</html>
